body {
    font-family: Arial, sans-serif;
    background-color: rgb(100, 15, 20);
    color: rgb(200, 55, 85);
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between; /* Gère l'alignement sur l'axe principal (horizontal par défaut) */
    align-items: center;    /* Gère l'alignement sur l'axe secondaire (vertical par défaut) */
    padding: 1rem 2rem;
    background-color: rgb(255, 251, 0);
}

.menu {
    list-style: none;
  display: flex;
}
.lien {
  display: flex;
  margin: 0 15px;
}

.lien a {
    text-decoration: none;
    color: rgb(138, 137, 221);
}